{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Lista de Produtos</h2>
    <div class="row">
        {% for produto in produtos %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="{{ produto[4] }}" class="card-img-top produto-img" alt="{{ produto[1] }}">
                <div class="card-body">
                    <h5 class="card-title">{{ produto[1] }}</h5>
                    <p class="card-text">{{ produto[2] }}</p>
                    <p class="card-text"><strong>R$ {{ produto[3] }}</strong></p>
                    <a href="{{ url_for('views.compra', produto_id=produto[0]) }}" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
